<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>Inscription</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  <ion-buttons type="submit" slot="end" (click)="inscrire()">
    <ion-icon name="checkmark" slot="icon-only"></ion-icon>
  </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<section>
  <ion-list >

    
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input  [(ngModel)]="expert.nom" name="nom" placeholder="Nom" required></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
        
      <ion-item>
        <ion-label  position="stacked">Prenom</ion-label>
        <ion-input  [(ngModel)]="expert.prenom" name="prenom" placeholder="Prenom"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

    <ion-item>
      <ion-label position="stacked"><b>Email</b></ion-label>
      <ion-input  [(ngModel)]="expert.email" name="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="stacked"><b>Mot de passe</b></ion-label>
      <ion-input  [(ngModel)]="expert.password" name="password" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>


      <ion-radio-group [(ngModel)]="role" name="role">
        <ion-list-header>
          <ion-label position="stacked">Role</ion-label>
        </ion-list-header>
    
        
  <ion-row>
    <ion-col>
        <ion-item>
          <ion-label class="role">Demandeur</ion-label>
          <ion-radio slot="start" value="Demandeur" checked></ion-radio>
        </ion-item>
    </ion-col>
<ion-col>
        <ion-item>
          <ion-label  class="role">Expert</ion-label>
          <ion-radio slot="start" value="Expert"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      </ion-radio-group>

    <ion-item *ngIf="role=='Expert'">  
      <ion-label class="expert">Domaine</ion-label> 
      <ion-select [(ngModel)]="expert.domaine.id"  name="domaine">
        <ion-select-option *ngFor="let domaine of domaines" [value] = "domaine.id">{{domaine.nom}}</ion-select-option>
      </ion-select>
    </ion-item>  


    <ion-item *ngIf="role=='Expert'">
      <ion-label class="expert"><b>Specialite: </b></ion-label>
      <ion-input  [(ngModel)]="expert.specialite" name="expert" placeholder="Spécialité"></ion-input>
    </ion-item>

    <ion-item *ngIf="role=='Expert'">
      <ion-label class="expert"><b>Compte Stripe: </b></ion-label>
      <ion-input  [(ngModel)]="compte.cle" name="cle" placeholder="Code du compte" type="text"></ion-input>
    </ion-item>

    
    <ion-item lines="none">
      <ion-label class="expert" ><b>Photo</b></ion-label>
    </ion-item>

    <div class="image-upload">
      <label for="file-input">
        <img src="{{path}}"/>
      </label>
    
      <input id="file-input" type="file"  (change)="changeListener($event)"/>
    </div>

 
    
  </ion-list>
</section>






</ion-content>
