p {
	color: #6E6E6E;
}

h3
{
    font-weight: bold;
}

ion-list-header
{
    font-size: 16px;
    color: #4054b4;
}

ion-content
{
    --ion-background-color:#ffffff;
}


ion-content ion-button:last-child
{
    margin: 27px;
    --background:hsl(230deg 84% 63%);;


}




