<ion-toolbar color="primary">

  <ion-buttons slot="start">
    <ion-back-button defaultHref="tabs/seance"></ion-back-button>
 </ion-buttons>
 
    <ion-title>Conférence</ion-title>

  <ion-buttons slot="end"  (click)="payer()">
    <ion-icon name="checkmark" slot="icon-only"></ion-icon>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        
      </ion-label>
    </ion-list-header>
    <ion-item>  
      <ion-label><b>Sujet</b></ion-label> 
      <ion-select [(ngModel)]="conference.sujet.id"  name="sujet">
        <ion-select-option *ngFor="let sujet of sujets" [value] = "sujet.id">{{sujet.titre}}</ion-select-option>
      </ion-select>
    </ion-item>  

    <ion-radio-group [(ngModel)]="type" name="type">

      <ion-list-header>
        <ion-label>Type</ion-label>
      </ion-list-header>
  
      <ion-row>
        <ion-col>
      <ion-item>
        <ion-label>Payant</ion-label>
        <ion-radio slot="start" value="Payant" checked></ion-radio>
      </ion-item>
    </ion-col>

      <ion-col>
        <ion-item>
        <ion-label >Gratuit</ion-label>
        <ion-radio slot="start" value="Expert"></ion-radio>
      </ion-item>
    </ion-col>
    </ion-row>
    </ion-radio-group>

    <br/>
  <ion-item>
    <ion-label  position="stacked"><b>Date</b></ion-label>
    <ion-datetime  [(ngModel)]="date" (ionChange)="calculePeriode()" ></ion-datetime>
  </ion-item>

  <ion-row>
    <ion-col>
  <ion-item>
    <ion-label position="stacked">Heure début</ion-label>
    <ion-datetime name="heureDeb" display-format="h:mm A"  [(ngModel)]="heureDeb"  picker-format="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
  </ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <ion-label position="stacked">Heure Fin</ion-label>
    <ion-datetime  name="heureFin" display-format="h:mm A"  [(ngModel)]="heureFin"  picker-format="h:mm A" minuteValues="0,15,30,45" ></ion-datetime>
  </ion-item>
</ion-col>

</ion-row>

<ion-item lines="none">
<ion-label ><b>Paiement</b></ion-label>
</ion-item>
<ion-item lines="none">
  <ion-text color="dark">
  <h6><b>Période de sponsoring: </b> {{duree}} jours</h6>
  <h6><b>Prix de sponsoring: </b> {{duree/2}} €</h6>
</ion-text>
</ion-item>
  <form  (ngSubmit)="createToken()" >
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
  </form>

  </ion-list>


 
</ion-content>