

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Statistique
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>


<div>
      <h3>Total des gains</h3>

      <h1>{{gainTotal}} €</h1>

      <h5><div id="nbSeance">{{consultations.length+conferences.length}} Séances</div> en {{convertDuree()}}</h5>
    </div>

      <ion-list lines="none"> 
    <ion-item *ngFor="let item of tabStatistique">
      <ion-label>
      <span>{{item[0]}}</span>
      <span>{{item[1]}} €</span>
      </ion-label>
    </ion-item>

  </ion-list>

  </ion-content>


