

<ion-content [fullscreen]="true">


  <div>
    <img [src]="image">

  <ion-item>
    <ion-label position="stacked" color="primary" ><b>Email</b></ion-label>
    <ion-input [(ngModel)]="utilisateur.email" name="email"></ion-input>
  </ion-item>
<br/><br/>
  <ion-item>
    <ion-label  position="stacked"  color="primary"><b>Password</b></ion-label>
    <ion-input type="password" [(ngModel)]="utilisateur.password" name="password"></ion-input>
  </ion-item>



<br/><br/><br/>
    <ion-button expand="block" (click)="login()">Connecter</ion-button>
<a color="primary" (click)="goPageInscription()"><p>Créer un compte</p></a>
</div>

</ion-content>
