
img
{
    width: 40%;
    display: block;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}


div
{
    padding:7%
}


p
{
    color:#10155f;
    font-size: small;
    margin-top: 7%;
    text-align: center;

}

a
{
    text-decoration: none;
}
