

<ion-content [fullscreen]="true">


  <div>
    <img [src]="image">

  <ion-item>
    <ion-label position="stacked" color="primary" ><b>Email</b></ion-label>
    <ion-input id="email" [(ngModel)]="utilisateur.email" name="email"></ion-input>
  </ion-item>
<br/><br/>
  <ion-item>
    <ion-label  position="stacked"  color="primary"><b>Mot de passe</b></ion-label>
    <ion-input  id="password" type="password" [(ngModel)]="utilisateur.password" name="password"></ion-input>
  </ion-item>



<br/><br/><br/>
    <ion-button id="login" expand="block" (click)="login()">Connecter</ion-button>
<a color="primary" (click)="goPageInscription()"><p>Créer un compte</p></a>
</div>

</ion-content>
