

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Les sujets
      </ion-title>
      <ion-buttons slot="end" *ngIf="role=='Expert'">
        <ion-button (click)="openSujetModal()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des sujets</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
    <ion-item>
      <ion-searchbar
      [(ngModel)]="searchVal"
      (ionChange)="onInput(searchVal)"
      (ionCancel)="onCancel()">
    </ion-searchbar>

    </ion-item>
      <ion-item *ngFor="let sujet of sujets ">
        <ion-label (click)="afficherDetail(sujet.id)">
          <h3>{{sujet.titre}}</h3>
          <p>{{sujet.description}}</p>
        </ion-label>
      </ion-item>
  
    </ion-list>
  
   
</ion-content>
