

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        {{titre}}
      </ion-title>
      
      <ion-buttons slot="end" *ngIf="role=='Expert'">
        <ion-button (click)="initParametres($event)">
          <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  
<ion-content [fullscreen]="true">

  <ion-segment (ionChange)="segmentChanged($event)"  [(ngModel)]="segment" *ngIf="role=='Demandeur'">
    <ion-segment-button value="sujet">
      <ion-label>Sujets</ion-label>
    </ion-segment-button>
    <ion-segment-button value="expert">
      <ion-label>Experts</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
  <ion-searchbar  
  [(ngModel)]="searchVal"
  (ionChange)="onInput(searchVal)"
  (ionCancel)="onCancel()">
</ion-searchbar>



    <ion-list  lines="none">

    <ng-container  *ngIf="segment=='sujet'">
      <ion-item *ngFor="let sujet of sujets">
        <ion-label (click)="afficherDetail(sujet.id)">
          <h3>{{sujet.titre}}</h3>
          <p>{{sujet.description}}</p>
        </ion-label>
      </ion-item>
      

    
    </ng-container>

    <ng-container  *ngIf="segment=='expert'">
      <ion-item *ngFor="let expert of experts" (click)="expertDetail(expert.id)">
        <ion-avatar slot="start">
          <img [src]="base64image(expert.photo)">
        </ion-avatar>
        <ion-label>
          <h3>{{expert.prenom}} {{expert.nom}}</h3>
          <p>{{expert.specialite}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="role=='Expert'" >
      <ion-fab-button (click)="openSujetModal()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
   
  
   
</ion-content>
