<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button *ngIf="role!='Expert'" tab="domaine">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Domaine</ion-label>
    </ion-tab-button>
    
    <ion-tab-button *ngIf="role=='Expert'" tab="sujet">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Sujet</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="role=='Expert'"  tab="disponibilite">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Disponibilité</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="role!='Administrateur'" tab="seance" >
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Séance</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="role=='Administrateur'" tab="utilisateur" >
      <ion-icon name="people"></ion-icon>
      <ion-label>Utilisateur</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
