<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{sujet.titre}}</ion-title>
    <ion-buttons slot="start" >
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="role=='Expert'" slot="end" >
      <ion-button  (click)="initSujet()">
        <ion-icon name="create" slot="icon-only" ></ion-icon>
      </ion-button>
    <ion-button  (click)="presentAlertConfirm()">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    
    <ion-list-header>
      Expert
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="base64image(sujet.expert.photo)">
      </ion-avatar>
      <ion-label>
        <h3>{{sujet.expert.nom}} {{sujet.expert.prenom}}</h3>
        <p>{{sujet.expert.specialite}}</p>
      </ion-label>
    </ion-item>


    <ion-list-header>
      Informations
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3>Titre</h3>
        <p>{{sujet.titre}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Description</h3>
        <p>{{sujet.description}}</p>
      </ion-label>
    </ion-item>

    <ion-list-header>
      Frais
    </ion-list-header>

    
      
  <ion-grid>
    <ion-row no-padding>
      <ion-col *ngFor="let fr of sujet.frais" size-lg="4" size-md="5" size-sm="4" size="4">
        <ion-item>
        <ion-label>
        <h3>{{fr.duree}} min</h3>
        <p>{{fr.prix}} DT</p>
      </ion-label>
    </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>



    <ion-item  *ngIf="sujet.frais.length==0">
      <ion-label>
        <h3>Gratuit</h3>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
<ion-footer class="bottom" *ngIf="role=='Demandeur'"> 
  <ion-toolbar>
    <ion-button  id="bouton" (click)="plannifierSeance()" expand="block">Réserver une consultation</ion-button>
  </ion-toolbar>
</ion-footer>