<ion-toolbar color="primary">
  <ion-buttons slot="end">
    <ion-button (click)="payer()">
      Payer
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime value="1990-02-19" [(ngModel)]="date" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Heure début</ion-label>
    <ion-datetime name="heureDeb" display-format="h:mm A"  [(ngModel)]="heureDeb"  picker-format="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Heure Fin</ion-label>
    <ion-datetime name="heureFin" display-format="h:mm A"  [(ngModel)]="heureFin"  picker-format="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
  </ion-item>
 
</ion-content>