<!DOCTYPE html>
<html lang="en">

<head>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <style>
        *::first-letter {
            text-transform: uppercase;
        }

        #toolbar {
            --background: #4054b4;
            --color: #ffffff
        }


        body {
            margin: 0;
        }



        #all_messages {
            margin: 3%;
            padding: 1%;
        }

        #videoGrid {
            height: 85vh;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .MyClass {
            width: 50%;
            height: 50%;
        }




        .mainControlsBlock {
            list-style-type: none;
            display: flex;
            justify-content: center;

        }

        .mainControlsBlock>* {
            display: list-item;
            background: rgb(78, 78, 78);
            border-radius: 50%;

            padding: 5px 10px;
            color: white;
            margin: 0 10px;
        }

        .mainControlsButtonEndMeeting {
            background: red;
        }

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
        }

        ion-footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            max-height: 100%;
            overflow-y: scroll;

        }







        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        const ROOM_ID = '<%= roomId %>'
    </script>
</head>

<body>
    <ion-toolbar id="toolbar">
        <ion-title id="sujet"></ion-title>
    </ion-toolbar>
    <ion-content color="dark">
        <div id="videoGrid">
        </div>
    </ion-content>
    <ion-footer id="footer">
        <div class="main__right">
            <ion-list>
                <ion-list-footer id="list">
                    <div class="main__chat__window" id="main__chat__window">
                        <ul class="messages" id="all_messages"></ul>
                    </div>
                    <hr />
                    <div class="main__message_container">
                        <ion-item>
                            <ion-input id="chat_message" placeholder="Entre votre message"></ion-input>
                        </ion-item>
                    </div>
                </ion-list-footer>
            </ion-list>
        </div>
        </div>
        <ion-toolbar>

            <div class="mainControls">
                <div class="mainControlsBlock">
                    <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <div onclick="playStop()" class="mainControlsButton mainVideoButton">
                        <i class="fas fa-video"></i>
                    </div>
                    <div onclick="displayMessages()" class="mainControlsButton">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                    <div onClick="leave()" class="mainControlsButtonEndMeeting">
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
            </div>
        </ion-toolbar>
    </ion-footer>
    <div id="snackbar">Some text some message..</div>
</body>

<script src="main.js"></script>

</html>