ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
  }


  ion-content
{
    --ion-background-color:#f3f3f3;
}

ion-grid
{
    margin: 10px;
}


div
{
    background-color:#ffffff!important;
    margin-bottom: 12px;
    border: 1px solid #e4e4e4;
    box-shadow: 2px 2px  #c8c8c8;
    width: 100%;
    text-align: center;
  }

  h2
  {
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }

span
{
  font-weight: bold;
  color: #2c2c2c;
}
