<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Domaine</ion-title>
    <ion-buttons slot="end" >
      <ion-button *ngIf="role=='Administrateur'" (click)="ajouterDomainePage()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="initParametres($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row no-padding>
      <ion-col  *ngFor="let domaine of domaines" size-lg="6" size-md="6" size-sm="6" size="6">
              <div (click)="actionDomaine(domaine)">{{domaine.nom}}</div>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
